extends ../layout

block content
  h1 Vis #{version}
  #description
  #vis

  script.
    version = #{version}
    params = !{JSON.stringify(params)}

  script(src="/js/charts/timeSeriesChart.js")
  script(src="/js/chart.js")
