extends ../layout

block content
  h1 Vis #{version}
  #description
  #vis

  script.
    version = #{version}
    params = !{JSON.stringify(params)}

  script(src="/js/util.js")
  
  script(src="/js/charts/timeSeriesChart.js")

  script(src="/js/components/topojson.v1.min.js")
  script(src="/js/charts/USAchart.js")

  script(src="/js/charts/matrixPlot.js")

  script(src="/js/chart.js")
