/*
  CSS Scheme, dark to light:

  #0D0630
  #18314F
  #384E77
  #8BBEB2
  #E6F9AF
*/

body {
  padding: 50px 80px;
  font: 14px "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
}

.chartTitle {
  margin: 10px;
  position: relative;
  margin-top: 25px;
  width: inherit;
}

.chart {
  position: float;
  width: inherit;
}


#vis {
  width:720px;
  border: solid 3px #384E77;
}

#visA {
  width:350px;
  float: left;
  border: solid 3px #384E77;
  margin-right: 7px;
  /*max-height: 1000px;*/
}

#visB {
  width:400px;
  float: left;
  border: solid 3px #384E77;
  margin-bottom: 7px;
}

#visC {
  width:400px;
  float: left;
  border: solid 3px #384E77;
}

#visD {
  position: relative;
  width:350px;
  float: right;
  border: solid 3px #384E77;
}

#description {
  margin: 10px;
  margin-bottom: 75px;
  font-size: large;
}
