/*
  CSS Scheme, dark to light:

  #0D0630
  #18314F
  #384E77
  #8BBEB2
  #E6F9AF
*/


.axis path,
.axis line {
  fill: none;
  stroke: #18314F;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #384E77;
  stroke-width: 1.5px;
}

.area {
  fill: #8BBEB2;
}

.area.hover {
  fill: #384E77;
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #18314F;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #384E77;
  stroke-width: 1.5px;
  opacity: 0.8;
}


.focus circle {
  fill: none;
  pointer-events: none;
  stroke: #18314F;
  stroke-width: 2px;
  opacity: .6;
}

.focusLine {
    fill: none;
    pointer-events: none;
    stroke: #18314F;
    stroke-width: 0.5px;
    opacity: 0.5;
}

.areaOverlay {
  pointer-events: none;
}

.focusOverlay {
  fill: none;
  pointer-events: all;
}
