extends layout

block content
  //- Bootswatch Theme
  link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  link(href="css/facility.css", rel="stylesheet")

  .container
    h1 Facilities

    button.btn.btn-info.p-a-3#back <
    span
    button.btn.btn-info.m-a-3#forward >
    #page
    br

    .panels

  script.
    page = #{page}
    limit = #{limit}
  script(src="/js/facilities.js")
