head
  title Test
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/charts/common.css")
  link(rel="stylesheet", href="/css/charts/map.css")
  script( src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js')
  script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
  script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
