head
  title Test
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/charts/common.css")
  link(rel="stylesheet", href="/css/charts/map.css")
  link(rel="stylesheet", href="/css/charts/matrix.css")
  script( src='/bower_components/d3/d3.min.js')
  script( src='/bower_components/d3-queue/d3-queue.js')
  script( src='/bower_components/jquery/dist/jquery.min.js' )
  script( src='/bower_components/bootstrap/dist/js/bootstrap.min.js' )
